<!--The content below is only a placeholder and can be replaced.-->
<form [formGroup]="rg" (ngSubmit)="onsubmit()">
  <div class="form-group">
      <label>First Name</label>
      <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
      <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
          <div *ngIf="f.firstName.errors.required">First Name is required</div>
      </div>
  </div>
  <div class="form-group">
      <label>Last Name</label>
      <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
      <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
          <div *ngIf="f.lastName.errors.required">Last Name is required</div>
      </div>
  </div>
  <div class="form-group">
      <label>Gender</label>
      <input type="text" formControlName="gender" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }" />
      <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
          <div *ngIf="f.gender.errors.required">gender is required</div>
                                </div>
  </div>
  <div class="form-group">
    <label>Contact No.</label>
    <input type="tel" formControlName="contactnum" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.contactnum.errors }" />
    <div *ngIf="submitted && f.contactnum.errors" class="invalid-feedback">
        <div *ngIf="f.contactnum.errors.required">Contact Number is required</div>
        <div *ngIf="f.contactnum.errors.pattern">Contact Number must be  Number</div>
        <div *ngIf="f.contactnum.errors.maxlength">Contact Number must be  maximum 10 Characters</div>
    </div>
</div>
<div class="form-group">
  <label>Employee ID.</label>
  <input type="tel" formControlName="empId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.empId.errors }" />
  <div *ngIf="submitted && f.empId.errors" class="invalid-feedback">
      <div *ngIf="f.empId.errors.required">Employee Id is required</div>
      <div *ngIf="f.empId.errors.pattern">Contact Number must be a Number</div>
      <div *ngIf="f.empId.errors.maxlength">Employee Id must be  maximum 4 Characters</div>
  </div>
</div>
  <div class="form-group">
      <label>Password</label>
      <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
          <div *ngIf="f.password.errors.minlength">Password must be at least 8 characters & maximum 16 Characters</div>
      </div>
  </div>
  <div class="form-group">
    <label>Confirm Password</label>
    <input type="password" formControlName="confirmpassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmpassword.errors }" />
    <div *ngIf="submitted && f.confirmpassword.errors" class="invalid-feedback">
        <div *ngIf="f.confirmpassword.errors.required">Password is required</div>
        <div *ngIf="f.confirmpassword.errors.minlength">Password must be at least 8 characters & maximum 16 Characters</div>
    </div>
</div>
  
  <div class="form-group">
      <button class="btn btn-primary">Submit</button>
  </div>
</form>





  